{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}
<br />
<br />

{% endif %}

<h1>LOGIN</h1>

<form  method="POST" action="{% url 'login' %}"> <!--method is post which means we are about to post something to the server -->
    {% csrf_token %} <!--To prevent CSRF attacks -->

Username:
<br />
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password" />
<br />
<br />

<input type="submit" value="Login" class="btn btn-primary" />
</form>


{% endblock %}